{% extends "index.twig" %}

{% requireLogin %}

{% block title %}Beschikbaarheid - HNO Assenede{% endblock %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{{ siteUrl }}/css/style.css">
<!-- Voeg Flowbite's CSS toe voor juiste stijl van de datumkiezer -->
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet">
<!-- Voeg flatpickr CSS toe -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/nl.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    flatpickr("#datepicker-format", {
      dateFormat: "d-m-Y",  
      locale: "nl",         
      altInput: true,       
      altFormat: "d-m-Y",   
    });
  });
</script>
{% endblock %}

{# Geuploade bannerimage tonen #}
{% set image = entry.image.one() %}
<header class="relative text-white bg-gray-800 bg-opacity-75" style="background-image: url('{{ image.url }}'); background-size: cover; background-position: center;">
  <div class="bg-black bg-opacity-60 absolute inset-0"></div>
  <div class="relative z-10 max-w-7xl mx-auto py-24 px-8 text-center">
    <h1 class="text-4xl md:text-5xl font-semibold leading-tight mb-4">{{ entry.title }}</h1>
    <p class="text-lg md:text-xl mb-6">{{ entry.subtitle }}</p>
  </div>
</header>

<div class="max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-8">
  <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Beschikbaarheid</h2>
  
  <div class="relative max-w-sm mx-auto mb-6">
    <label for="datepicker-format" class="block text-lg font-medium text-gray-700 mb-2">Kies een datum:</label>
    <input id="datepicker-format" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 pr-3 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Selecteer een datum">
  </div>

  <div class="text-center">
    <button class="w-full sm:w-auto bg-orange-500 text-white py-2 px-6 rounded-md hover:bg-orange-400 transition-colors">
      Beschikbaarheid opslaan
    </button>
  </div>
</div>

  {# <ul>
    {% for item in csvData %}
      <li>{{ item.date }} - {{ item.time }} - {{ item.status }}</li>
    {% endfor %}
  </ul> #}

{% endblock %}
