{% extends "index.twig" %}

{% requireLogin %}

{% block title %}Wedstrijden - HNO Assenede{% endblock %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{{ siteUrl }}/css/style.css">
{% endblock %}

{% for entry in craft.entries.section('beschikbaarheid').all() %}
  {# Geuploade bannerimage tonen #}
  {% set image = entry.image.one() %}
    <header class="relative text-white bg-gray-800 bg-opacity-75" style="background-image: url('{{ image.url }}'); background-size: cover; background-position: center;">
      <div class="bg-black bg-opacity-60 absolute inset-0"></div>
      <div class="relative z-10 max-w-7xl mx-auto py-24 px-8 text-center">
        <h1 class="text-4xl md:text-5xl font-semibold leading-tight mb-4">{{ entry.title }}</h1>
        <p class="text-lg md:text-xl mb-6">{{ entry.subtitle }}</p>
      </div>
    </header>
{% endfor %}

<div class="max-w-4xl mx-auto p-8 bg-blue shadow-lg rounded-lg mt-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-6">{{ entry.title }}</h1>
  <p class="text-gray-600 mb-4">{{ entry.datum|date('d-m-Y') }}</p>
  <p class="text-gray-600 mb-4">{{ entry.adres }}</p>

  <form method="post" action="/wedstrijd/{{ entry.id }}/deelnemen">
    {{ csrfInput() }}
    <input type="hidden" name="entryId" value="{{ entry.id }}">
    <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">Ik wil deelnemen &rarr;</button>
  </form>

  <h2 class="text-2xl font-bold mt-6 mb-3">Deelnemers</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm leading-4 text-gray-600 uppercase tracking-wider">Speler</th>
          <th class="py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm leading-4 text-gray-600 uppercase tracking-wider">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for block in entry.deelnemers.all() %}
          {% set speler = block.speler.one() %}
          <tr>
            <td class="py-2 px-4 border-b border-gray-200">{{ speler.fullName }}</td>
            <td class="py-2 px-4 border-b border-gray-200">{{ block.spelerstatus }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}