{% extends "index.twig" %}

{% requireLogin %}

{% block title %}Mijn Rekening - HNO Assenede{% endblock %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{{ siteUrl }}css/style.css">
{% endblock %}

{# Geuploade bannerimage tonen #}
{% set image = entry.image.one() %}
<header class="relative text-white" style="background-image: url('{{ image.url }}'); background-size: cover; background-position: center;">
  <div class="bg-black bg-opacity-60 absolute inset-0"></div>
  <div class="relative z-10 max-w-5xl mx-auto py-20 px-8 text-center">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">{{ entry.title }}</h1>
    <p class="text-lg md:text-xl mb-6">{{ entry.subtitle }}</p>
  </div>
</header>

<main>
<div class="bg-white overflow-hidden" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<form method="post">
    {{ csrfInput() }}
    {{ actionInput("mollie-payments/payment/pay") }}
    {{ redirectInput("rekening/geslaagd") }}
    <input type="hidden" name="amount" value="{{ 20|hash }}">
    <input type="hidden" name="form" value="{{ 'afrekenen'|hash }}">
    <input type="hidden" id="email" name="email" value={{ currentUser.email }}>
    <input type="hidden" id="name" name="fields[firstName]" value={{ currentUser.fullName }}>

    <div class="mb-6">
        <h3 class="text-2xl font-semibold mb-4">{{ "Rekening betalen"|t }}</h3>
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-100">
                    <th colspan="3" class="text-left py-2 px-4 border-b border-gray-200">Vandaag</th>
                    <th class="py-2 px-4 border-b border-gray-200 text-right">€ 7,50</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left py-2 px-4 border-b border-gray-200">Aquarius</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">2</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">€ 2,50</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">€ 5,00</td>
                </tr>
                <tr>
                    <td class="text-left py-2 px-4 border-b border-gray-200">Cola</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">1</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">€ 2,50</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">€ 2,50</td>
                </tr>
                <tr class="bg-gray-100">
                    <th colspan="3" class="text-left py-2 px-4 border-b border-gray-200">17 oktober</th>
                    <th class="py-2 px-4 border-b border-gray-200 text-right">€ 2,50</th>
                </tr>
                <tr>
                    <td class="text-left py-2 px-4 border-b border-gray-200">Aquarius</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">1</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">€ 2,50</td>
                    <td class="text-right py-2 px-4 border-b border-gray-200">€ 2,50</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="bg-gray-100">
                    <th colspan="3" class="text-left py-2 px-4 border-b border-yellow-200 bg-yellow-100">Totaal</th>
                    <th class="py-2 px-4 border-b border-yellow-200 text-right bg-yellow-100">€ 10,00</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <button type="submit" class="btn btn-primary px-4 py-2 rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
        {{ "Betaal"|t }}
    </button>
</form>
</div>
</main>



{% endblock %}
