{% extends "index.twig" %}

{% requireLogin %}

{% block title %}Mijn Rekening - HNO Assenede{% endblock %}

{% set stash = craft.entries()
    .section('stash_section')
    .stash_status('open')
    .relatedTo({
        targetElement: currentUser.id,
        field: 'stash_user'
    })
    .orderBy('dateCreated DESC')
    .one() %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{{ siteUrl }}css/style.css">
{% endblock %}

{# Geuploade bannerimage tonen #}
{% set image = entry.image.one() %}
<header class="relative text-white" style="background-image: url('{{ image.url }}'); background-size: cover; background-position: center;">
  <div class="bg-black bg-opacity-60 absolute inset-0"></div>
  <div class="relative z-10 max-w-5xl mx-auto py-20 px-8 text-center">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">{{ entry.title }}</h1>
    <p class="text-lg md:text-xl mb-6">{{ entry.subtitle }}</p>
  </div>
</header>

<main class="py-16 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-8">
    {% if stash %}
      <div class="mb-5">
        <h2 class="text-3xl font-bold text-center text-blue-700 mb-12">Rugzak</h2>
        <div class="overflow-x-auto">
          <table class="min-w-full bg-white border border-gray-200">
            <thead class="bg-gray-100">
              <tr>
                <th class="py-2 px-4 border-b">Item</th>
                <th class="py-2 px-4 border-b">Prijs</th>
                <th class="py-2 px-4 border-b">Subtotaal</th>
              </tr>
            </thead>
            <tbody>
              {% set totalPrice = 0 %}
              {% for item in stash.stash_items %}
                <tr>
                  <td class="py-2 px-4 border-b">{{ item.title }}</td>
                  <td class="py-2 px-4 border-b">€ {{ item.prijs }}</td>
                  <td class="py-2 px-4 border-b">€ {{ item.prijs }}</td>
                </tr>
                {% set totalPrice = totalPrice + item.prijs %}
              {% endfor %}
              <tr class="bg-gray-100">
                <td colspan="2" class="text-left py-2 px-4 border-b border-yellow-200 bg-yellow-100">Totaal</td>
                <td class="py-2 px-4 border-b border-yellow-200 text-right bg-yellow-100">€ {{ totalPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <p class="text-center text-gray-600">{{ "Geen items in je winkelmandje."|t }}</p>
      {% set totalPrice = 0 %}
    {% endif %}

    <div class="flex justify-center mt-8">
      <form method="post">
        {{ csrfInput() }}
        {{ actionInput("mollie-payments/payment/pay") }}
        {{ redirectInput("mijn-rekening/geslaagd") }}
        <input type="hidden" name="amount" value="{{ totalPrice|hash }}">
        <input type="hidden" name="form" value="{{ 'afrekenen'|hash }}">
        <input type="hidden" id="email" name="email" value="{{ currentUser.email }}">
        <input type="hidden" id="name" name="fields[firstName]" value="{{ currentUser.fullName }}">

        <button type="submit" class="btn btn-primary px-4 py-2 rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
          {{ "Betaal"|t }}
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock %}